

.carousel {
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    height: 80vh;
    
}

.carousel .slide {
    width: 100%;
    height: 100%;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform 550ms ease-in-out;
    
}

.carousel .slide.active {
    display: block;
}

.carousel .slide.previous {
    display: block;
}

.carousel .slide.right.active {
    animation: slide-in-right 550ms ease-in-out;
}

.carousel .slide.right.previous {
    animation: slide-out-left 550ms ease-in-out;
    
}

.carousel .slide.left.active {
    animation: slide-in-left 550ms ease-in-out;
}

.carousel .slide.left.previous {
    animation: slide-out-right 550ms ease-in-out;
    
}

@keyframes slide-in-right {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-left {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slide-out-right {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(100%);
    }
}




.arrow {
    
    
    position: absolute;
    bottom: 50%;
    top: 50%;
    transform: translateY(-50%);
    color:var(--blue-first);
    width: 70px;
    height: 100%;
    
    
    
    opacity: 0.9;
    
    padding: 10px;
    z-index: 1;
    transition: 300ms ease-in-out;
    
}

.arrow:hover{
    width: 80px;
    
}

.arrow:active{
    width: 68px;
}




.arrow:hover.arrow-left {
    background: linear-gradient(to left, rgba(var(--blue-fourth-rgba), 0), rgba(var(--blue-fourth-rgba), 0.6));
    
    
}

.arrow:hover.arrow-right{
    background: linear-gradient(to right, rgba(var(--blue-fourth-rgba), 0), rgba(var(--blue-fourth-rgba), 0.6));
    
}



.arrow-left {
    left: 0;
    background: linear-gradient(to left, rgba(var(--blue-fourth-rgba), 0), rgba(var(--blue-fourth-rgba), 0.4));
    
}


.arrow-right {
    right: 0;
    background: linear-gradient(to right, rgba(var(--blue-fourth-rgba), 0), rgba(var(--blue-fourth-rgba), 0.4));
    
    
}

.indicators {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.indicator {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 5px;
    
    border: none;
    border-radius: 50%;
    
    cursor: pointer;
    transition: background-color 0.3s ease;
    border: 2px solid rgba(var(--blue-first-rgba), 0.5);
}

.indicator.active {
    background-color: var(--blue-first);
}


