.dot {
    transition: background-color 0.3s ease;
}
.carousel-container {
    width: 100%;
    position: relative;
    margin: auto;
    overflow: hidden;
    padding-top: 80px; /* Adjust based on the height of your navbar */
}