:root {
  --blue-first: #050C9C;
  --blue-second: #3572EF;
  --blue-third: #3ABEF9;
  --blue-fourth: #A7E6FF;
  --custom-gray: #4D4D4D; /* For the headers */
  --light-gray: #717171; /* For the semi-headers */
  --bcg-light-gray:#F5F7FA; /* For the backgrounds */
  --custom-gray-dark: #263238;
  

  --blue-first-rgba: 5, 12, 156;
  --blue-second-rgba: 53, 114, 239;
  --blue-third-rgba: 58, 190, 249;
  --blue-fourth-rgba: 167, 230, 255;
}


/*Basliklar keskin hatli yazilar yumusak hatli*/

.text-400 {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.text-500 {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.text-600 {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.text-700 {
  font-family: 'Fredoka', sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

/*
.font-quicksand-400{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.font-quicksand-500{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.font-quicksand-600{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}*/

@keyframes circle-border-animation {
  0% {
    stroke-dasharray: 0, 320;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 320, 0;
    stroke-dashoffset: 0;
  }
}

.icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96px;
  height: 96px;
}

.circle-svg {
  position: absolute;
  top: -4px; /* Adjusted to make the circle slightly larger */
  left: -4px; /* Adjusted to make the circle slightly larger */
  width: 104px; /* Adjusted to make the circle slightly larger */
  height: 104px; /* Adjusted to make the circle slightly larger */
  transform: rotate(-90deg);
  pointer-events: none; /* Ensure the SVG does not interfere with hover events */
}

.circle {
  fill: none;
  stroke: transparent;
  stroke-width: 2;
  stroke-dasharray: 320;
  stroke-dashoffset: 320;
  transition: stroke 0.3s ease;
}

.icon-container:hover .circle {
  stroke: #3572EF;
  animation: circle-border-animation 0.5s forwards;
}

.icon-background {
  position: relative;
  width: 96px;
  height: 96px;
  background-color: var(--bcg-light-gray); /* Set background color to white */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}
.card {
  background-color: var(--bcg-light-gray);
  margin: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: auto;
  position: relative;
  text-align: center;
}
.icon-background-cards {
  width: 50px;
  height: 20px;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;/* Space between the icon and the title */
  border-radius: 50%;
  position: relative;
}
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.grid-item {
  flex: 1 1 auto;
  max-width: 300px;
}
.card-community {
  background-color: var(white); /* Use CSS variable or directly specify the color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Adjust shadow as needed */
  border-radius: 8px; /* Adjust border radius as needed */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 350px;
  align-items: center;
  position: relative;
  text-align: center; /* Center text horizontally */
}

.grid-community {
  display: flex;
  justify-content: center;
  
}
.icon-container-community {
  display: flex;
  align-items: center;
  position: absolute; 
  margin-right: 10px; /* Space between icon and rectangle */
}
.rectangle {
  width: 40px; /* Width of the rectangle */
  height: 40px; /* Height of the rectangle */
  background-color: #A7E6FF; /* Rectangle color */
  border-radius: 10px 5px 10px 5px;
  margin-left: 25px
}






