:root{
    --blue-first: #050C9C;
    --blue-second: #3572EF;
    --blue-third: #3ABEF9;
    --blue-fourth: #A7E6FF;

    --blue-first-rgba: 5,12,156;
    --blue-second-rgba: 53,114,239;
    --blue-third-rgba: 58,190,249;
    --blue-fourth-rgba: 167,230,255;
}